@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ma Sinh Vien:2310900047</p>
<p>Ho va Ten: Nguyen Van Khanh</p>
<p>Bi dep trai vjp pri</p>
<p>Lop:K23CNT3</p>
<p>Youtube: KhanChinTuoi (pls subs)</p>