@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger">
    <p>Ma sinh vien: 2310900047</p>
    <p>Ho va ten: Nguyen Van Khanh</p>
    <p>Email:khanhvank9t727@gmail.com</p>
    <p>SDT: 0984915173</p>
    <p>Lop: K23CNT3-NET</p>
</div>

